.page.theme_light {
  --title-color: #FFC2E6;
  --title-shadow-color: #FF0070;
  --nav-color: #353430;
  --hover-color: rgba(50, 49, 45, 0.4);
  --decoration-bg-color: #353430;
  --accent-color: #FF8DCB;
  --content-title-color: #353430;
  --subtitle-color: #000028;
  --text-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: #FFC2E6;
    --title-shadow-color: #FF0070;
    --nav-color: #353430;
    --hover-color: rgba(50, 49, 45, 0.4);
    --decoration-bg-color: #353430;
    --accent-color: #FF8DCB;
    --subtitle-color: #000028;
    --text-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
  }

  .header__theme_dark_decoration {
    display: none;
  }
}

.theme_light .header__theme_dark_decoration {
    display: none;
}

@media (768px <= width < 1024px) {
  
  .page.theme_light {
    --title-shadow-color: #ff8dcb;
  }
}


@media (375px <= width < 768px) {
  
  .page.theme_light {
    --title-shadow-color: #ff8dcb;
  }

}
